@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h1 class="display-4">Welcome</h1>
    @Html.BeginForm()
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/Domain">building Web apps with ASP.NET Domain</a>.</p>
</div>
