@model ImageDetailModel


<div id="uploadedContent">
    <div>
        <div class="image-preview-container">
            <img id="imagePreview" src="@Model.ImageUrl" alt="Failed to load"/>
            <div id="imageContainerFooter">
                <p id="imageName">@Model.Name</p>
            </div>
        </div>
    </div>

    <div id="contentPreview">
        <div id="content">
            <p id="DetectedText">@Model.Text</p>
        </div>
    </div>
</div>
