@model ImageDetailModel

<div class="uploaded-content" >
    <div>
        <div class="image-preview-container">
            <img class="image-preview" src="@Model.ImageUrl" alt="preview will appear here"/>
            <div class="image-container-footer">
                <p class="image-name">@Model.Name</p>
            </div>
        </div>
    </div>

    <div class="content-preview">
        <div class="detected-text">
            <p class="detected-text-text">@Model.Text</p>
        </div>
    </div>
</div>
